.ctn{
  width: 350px;
  margin: 0 auto;
  margin-top: 50px;
}

.card{
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  transition: all ease-in-out .3s;
  background-color: #f5f2fd;
}

.card:hover{
  background-color: aliceblue;
  cursor: pointer;
}

.card svg{
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  font-size: 3.5rem;
  color: #000000;
  background-color: #ffffff6f;
  box-shadow: 0 0 5px rgba(0, 0, 0, .05);
}