.ctn{
  width: 100%;
  padding: 40px 0;
}

.wrp{
  width: 100%;
  max-width: 1100px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color: rgb(10, 20, 14);
  border-radius: 60px;
}

.images{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.bot1, .bot2{
  width: 170px;
}

.logo{
  width: 120px;
  object-fit: contain;
}

.wrp h1{
  font-size: 3rem;
  font-weight: 100;
  margin-top: -60px;
  line-height: 1.2;
  letter-spacing: .8;
  color: rgba(239, 255, 238, 0.8);
  text-align: center;
}

@media screen and (max-width: 900px){
.ctn{
  padding: 5px;
}

.wrp{
  height: fit-content;
  padding: 30px 10px;
  border-radius: 40px;
}

.bot1, .bot2{
  width: 50px;
}

.logo{
  width: 100px;
}

.wrp h1{
  font-size: 7.5vw;
  margin-top: 0;
}
}