.ctn{
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(90deg, rgba(240, 233, 255, 0.4), rgba(240, 233, 255, 0.05));
  backdrop-filter: blur(10px);
  position: relative;
}

.ctn main{
  width: 800px;
  min-height: 100vh;
  padding: 20px;
  margin: 0 auto;
}

.ctn main .wrp{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 20px 10px;
  padding: 20px;
}



@media screen and (max-width: 1100px){
.ctn main{
  position: fixed;
  top: 0;
  right: 0;
}
}